{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <ul>
                <li><a href="https://vk.com/ochvr">Группа ОЧВР ВК</a></li>
                <li><a href="https://t.me/papkov">Telegram</a></li>
                <li><a href="mailto:spbvuzy@yandex.ru">spbvuzy@yandex.ru</a></li>
                <li><a href="mailto:mikhail.papkov@gmail.com">mikhail.papkov@gmail.com</a></li>
                <li><a href="https://github.com/papkov/rating-recaps/issues">GitHub Issues</a>
                    (если что-то в принципе работает, но не так, как вам хотелось бы, лучше написать сюда)</li>
            </ul>
        </div>

    </div>

{% endblock %}