{% extends "base.html" %}

{% block content %}

    <div class="container">
        <br>
        <h2>Сбор составов команд</h2>
        <br>
        <!--Form for team id request-->
        <form action="" method="post">
            {{ team_form.hidden_tag() }}
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-2">
                            <div class="row">
                                <div class="col-2 col-md-4 text-center"> <button class="btn" name="btn-find-team" value="0" title="Найти команду или создать пустую форму"><i class="fa fa-search"></i></button> </div>
                                <div class="col-10 col-md-8"> {{ team_form.idteam(class="form-control", placeholder="ID")}} </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3"> {{ team_form.team_name(class="form-control", placeholder="Название")}} </div>
                        <div class="col-12 col-md-3"> {{ team_form.town(class="form-control", placeholder="Город")}} </div>
                        <div class="col-12 col-md-3"> {{ team_form.institute(class="form-control", placeholder="Вуз")}} </div>
                        <div class="col-12 col-md-1">
                            <div class="row">
                                <div class="col-6 text-center"> <button class="btn" name="btn-add-player" value="0" title="Добавить игрока"><i class="fa fa-plus"> </i></button> </div>
                                <div class="col-6 text-center"> <button class="btn" name="btn-reset-team" value="0" title="Сбросить"><i class="fa fa-refresh"> </i></button> </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>

        <hr>

        <!--Forms for recaps-->
        {% if player_forms %}
            {% for player_form in player_forms %}
                {% if player_form is not none%}
                    <form action="" method="post">
                        {{ player_form.hidden_tag() }}
                        <div class="form-group">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-md-2">
                                        <div class="row">
                                            <div class="col-2 col-md-4 text-center"><button class="btn" name="btn-find-player" value="{{ loop.index0 }}" title="Найти игрока"><i class="fa fa-search"> </i></button></div>
                                            <div class="col-10 col-md-8"> {{ player_form.idplayer(class="form-control", placeholder="ID") }} </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2"> {{ player_form.surname(class="form-control", placeholder="Фамилия") }} </div>
                                    <div class="col-12 col-md-2"> {{ player_form.name(class="form-control", placeholder="Имя") }} </div>
                                    <div class="col-12 col-md-2"> {{ player_form.patronymic(class="form-control", placeholder="Отчество") }} </div>
                                    <div class="col-12 col-md-1"> {{ player_form.status(class="form-control", placeholder="К/Б/Л") }} </div>
                                    <div class="col-12 col-md-3">
                                        <div class="row">
                                            <div class="col-12 col-md-9"> {{ player_form.birthdate(class="form-control", placeholder="Дата рождения") }} </div>
                                            <div class="col-12 col-md-3 text-center"><button class="btn" name="btn-remove-player" value="{{ loop.index0 }}" title="Убрать игрока"><i class="fa fa-close"> </i></button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                {% endif %}
            {% endfor %}
            <hr>
            <!--<button class="btn btn-primary" name="btn-remove-player" value=><span title="Отправить"></span></button>-->
            <!--<div class="btn btn-success"></div>-->
        {% endif %}

        <!--Buttons for download and sending-->
        {% if player_forms %}
            <form action="" method="post">
                {{ send_form.hidden_tag() }}
                <div class="form-group">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-6 text-center">
                                <button class="btn btn-success" name="btn-send-recaps" value="0" title=""><i class="fa fa-envelope"></i> Отправить состав </button>
                            </div>
                            <div class="col-12 col-sm-6 text-center">
                                <button class="btn btn-success" name="btn-save-recaps" value="0" title=""><i class="fa fa-download"></i> Сохранить состав </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}


        <!--Flashed messages display-->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

                {% for message in messages %}
                    {% if "Error" not in message[1] and "failed" not in message[1] %}
                        <div class="alert alert-info"> <strong>Success! </strong> {{ message[1] }}</div>
                    {% endif %}

                    {% if "Error" in message[1] or "failed" in message[1] %}
                        <div class="alert alert-warning"> {{ message[1] }}</div>
                    {% endif %}
                {% endfor %}


            {% endif %}
        {% endwith %}

        {% if team_form.errors %}
            <div class="alert alert-warning">{{ team_form.errors }}</div>
        {% endif %}

    </div>
{% endblock %}