{% extends "base.html" %}

{% block content %}

    <div class="container">
        <!--<br>-->
        <!--<h2>Сбор составов команд</h2>-->
        <!--<br>-->
        <!--Form for team id request-->

        <form action="" method="post">
            {{ recaps_form.hidden_tag() }}
            <div class="form-group">
                <div class="container">
                    <!-- Team data -->
                    <div class="row">
                            <!-- Team id and search button -->
                            <div class="col-12 col-md-2">
                                <div class="row">
                                    <div class="col-2 col-md-4 text-center"> <button class="btn" name="btn-find-team" value="0" title="Найти команду или создать пустую форму"><i class="fa fa-search"></i></button> </div>
                                    <div class="col-10 col-md-8"> {{ recaps_form.idteam(class="form-control", placeholder="ID")}} </div>
                                </div>
                            </div>
                            <!-- Team info -->
                            <div class="col-12 col-md-2"> {{ recaps_form.team_name(class="form-control", placeholder="Название")}} </div>
                            <div class="col-12 col-md-2"> {{ recaps_form.town(class="form-control", placeholder="Город")}} </div>
                            <div class="col-12 col-md-2"> {{ recaps_form.institute(class="form-control", placeholder="Вуз")}} </div>
                            <div class="col-12 col-md-3"> {{ recaps_form.email(class="form-control", placeholder="Контактный e-mail")}} </div>
                            <!-- Add and reset buttons -->
                            <div class="col-12 col-md-1">
                                <div class="row">
                                    <div class="col-6 text-center"> <button class="btn" name="btn-add-player" value="0" title="Добавить игрока"><i class="fa fa-plus"> </i></button> </div>
                                    <div class="col-6 text-center"> <button class="btn" name="btn-reset-team" value="0" title="Сбросить"><i class="fa fa-refresh"> </i></button> </div>
                                </div>
                            </div>
                    </div>

                    <hr>
                    <!-- Players' data -->
                    {% for player_form in recaps_form.player_forms %}
                        {{ player_form.hidden_tag() }}
                        <div class="row">
                            <!-- Player id and search button -->
                            <div class="col-12 col-md-2">
                                <div class="row">
                                    <div class="col-2 col-md-4 text-center">
                                        <!--<button class="btn" name="btn-find-player" value="{{ loop.index0 }}" title="Найти игрока"><i class="fa fa-search"> </i></button>-->
                                        <button class="btn" name="btn-find-player" value="{{ player_form.form.find.name }}" title="Найти игрока"><i class="fa fa-search"> </i></button>
                                        <!--{{ player_form.form.find(class="btn") }}-->
                                    </div>

                                    <div class="col-10 col-md-8"> {{ player_form.form.idplayer(class="form-control", placeholder="ID",
                                                                     title='ID на сайте rating.chgk.info (если игрок новый, поставьте 0)') }} </div>
                                </div>
                            </div>
                            <!-- Player info -->
                            <div class="col-12 col-md-2"> {{ player_form.form.surname(class="form-control", placeholder="Фамилия") }} </div>
                            <div class="col-12 col-md-2"> {{ player_form.form.name(class="form-control", placeholder="Имя") }} </div>
                            <div class="col-12 col-md-2"> {{ player_form.form.patronymic(class="form-control", placeholder="Отчество") }} </div>
                            <div class="col-12 col-md-1"> {{ player_form.form.other(class="form-control", placeholder="пр.",
                                                             title='Прочая информация, которую вы хотите включить в пришлашение (например, номер учебной группы)') }} </div>
                            <!-- Birthdate and remove button -->
                            <div class="col-12 col-md-3">
                                <div class="row">
                                    <div class="col-12 col-md-3"> {{ player_form.form.status(class="form-control", placeholder="К/Б/Л", title='Флаг капитан/базовый игрок/легионер') }} </div>
                                    <div class="col-12 col-md-7"> {{ player_form.form.birthdate(class="form-control", placeholder="Дата рождения", title='Дата рождения') }} </div>
                                    <!--<div class="col-12 col-md-3 text-center"><button class="btn" name="btn-remove-player" value="{{ loop.index0 }}" title="Убрать игрока"><i class="fa fa-close"> </i></button></div>-->
                                    <div class="col-12 col-md-2 text-center"><button class="btn" name="btn-remove-player" value="{{ player_form.form.remove.name }}" title="Убрать игрока"><i class="fa fa-close"> </i></button></div>
                                </div>
                            </div>
                        </div>

                        <!-- Player flashed messages (search results) -->
                        {% with errors = get_flashed_messages(category_filter=[player_form.form.find.name]) %}
                            {% if errors %}
                                <div class="alert alert-info alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <!--<a class="close" href="#">×</a>-->
                                    <div>
                                      <ul>
                                        {% for msg in errors %}
                                            <li>{{ msg }}</li>
                                        {% endfor %}
                                      </ul>
                                    </div>
                                </div>
                            {% endif %}
                        {% endwith %}
                        <br>
                    {% endfor %}

                    <!-- Invitation form -->
                <details>
                    <summary>Приглашение</summary>
                    <br>
                    <p>
                        Пожалуйста, заполняйте форму ниже в соответствии с примерами
                        (фамилия и должность должны быть в дательном падеже, название университета в родительном,
                        а имя и отчество в именительном).
                        Это позволит нам собрать приглашение автоматически и не редактировать его вручную.
                    </p>
                    <div>
                        {{ recaps_form.invitation_form.hidden_tag() }}
                        <div class="row">
                            <div class="col-12 col-md-4"> {{ recaps_form.invitation_form.form.email(class="form-control", placeholder="e-mail университета",
                                                             title='E-mail, на который мы вышлем пришлашение') }} </div>
                            <div class="col-12 col-md-4"> {{ recaps_form.invitation_form.form.position(class="form-control", placeholder="ректору",
                                                             title='Должность человека, на имя которого надо написать приглашение, в дательном падеже (например, "ректору" или "проректору")') }} </div>
                            <div class="col-12 col-md-4"> {{ recaps_form.invitation_form.form.university(class="form-control", placeholder="университета",
                                                             title='Официальное название университета в родительном падеже') }} </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12 col-md-4"> {{ recaps_form.invitation_form.form.first_name(class="form-control", placeholder="Иван",
                                                             title='Имя в именительном падеже') }} </div>
                            <div class="col-12 col-md-4"> {{ recaps_form.invitation_form.form.second_name(class="form-control", placeholder="Иванович",
                                                             title='Отчество в именительном падеже') }} </div>
                            <div class="col-12 col-md-4"> {{ recaps_form.invitation_form.form.surname(class="form-control", placeholder="Иванову",
                                                             title='Фамилия в дательном падеже') }} </div>
                        </div>
                    </div>
                </details>


                    <!-- Submit buttons -->
                    {% if recaps_form.player_forms|length > 0 %}
                        <hr>
                        <div class="row">
                            <div class="col-12 col-sm-6 text-center">
                                <button class="btn btn-success" name="btn-send-recaps" value="0" title=""><i class="fa fa-envelope"></i> Отправить состав оргкомитету </button>
                            </div>
                            <div class="col-12 col-sm-6 text-center">
                                <button class="btn btn-success" name="btn-save-recaps" value="0" title=""><i class="fa fa-download"></i> Сохранить состав себе в csv </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </form>

        <!--Flashed messages display-->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == "success" %}
                        <div class="alert alert-info"> <strong>Success! </strong> {{ message }}</div>
                    {% endif %}

                    {% if category == "error" %}
                        <div class="alert alert-warning"> <strong>Error! </strong> {{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if recaps_form.errors %}
        <div class="alert alert-warning">{{ recaps_form.errors }}</div>
        {% endif %}

        {#
        {% for source, error in recaps_form.errors.items() %}
            {% if error is not string %}
                {% for e in error %}
                    {% for source_2, error in e.items() %}
                        <div class="alert alert-warning">{{ "{} () - {}".format(source_2, source, error) }}</div>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">{{ "{} - {}".format(source, error) }}</div>
            {% endif %}
        {% endfor %}
        #}



    </div>
{% endblock %}